body {
    background-color:rgb(34, 52, 92);
    text-align: center;
}

.startTitle {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

button:active {
    opacity: 0.7;
    transform: translateY(4px);

}

button:focus { 
    outline-color: rgb(51, 36, 23) 
}

.squareGeneral {
    border: 10px solid black;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 0 5px rgb(46, 46, 46);

}

.squarePink {
 background-color: #D84797;
}

.squareYellow {
    background-color: #E8E288;

}

.squareGreen {
    background-color: #8CB369;
}

.squareBlue {
    background-color: #3ABEFF;
}
